@font-face {
  font-family: Montserrat-Medium;
  src: url(../../public/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Tajawal-Bold;
  src: url(../../public/fonts/Tajawal-Bold.ttf);
}

@font-face {
  font-family: Tajawal-Medium;
  src: url(../../public/fonts/Tajawal-Medium.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Tajawal-Medium", sans-serif;
  margin: 0;
  padding: 0;
}
